html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hey Dockers!!!
        h2 welcome to NH lab
        p You have to start practicing now :) .
        p
          a.btn.btn-primary(href="https://docs.docker.com/reference/" target="_blank") Docker documentation is a great source guys!

