<html>
<head>
  <title>Docker FTW</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Hi Eng.Mohamed Imam</h1> 
      <h2>Welcome to the depi final project</h2> 
      <h3>Our Group Code: ALX1_SWD1_M1e</h3>
      <h4>Our group members names:</h4>
      <ul>
        <li>Omar Mohamed AbdelSalam</li>
        <li>Mohammed Yehia Fadl</li> 
      </ul>
      <p><a class="btn btn-primary" href="https://github.com/omarMohamedo-o/depi_final_project.git" target="_blank">Our cloned directory link</a></p> 
    </div>
  </div>
</body>
</html>
